---
layout: layout/base.njk
title: Page Title
---
<h3>{{ title }}</h3>

<h1>Location Information</h1>
  <div>
    {% set locationData = getLocationData() | safe %}
    <pre>{{ locationData }}</pre>
  </div>